<h3 class="text-center text-md font-medium text-gray-700 dark:text-orange-400">
  Sponsor this Project
</h3>
<p class="mt-4 text-center text-sm font-medium text-gray-700 dark:text-orange-400">
  If you find the service useful, please consider supporting the development and hosting of Brocade.io:
</p>
<p class="mt-4 text-center text-sm font-medium text-gray-700 dark:text-orange-400">
  <a href="https://github.com/sponsors/EventideSystems" target="_blank" class="underline">Sponsor via Github</a> 
  or <a href="https://buymeacoffee.com/eventidesystems" target="_blank" class="underline">Buy us a coffee</a>
</p>
<main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-24">
  <div class="grid grid-cols-2 gap-4">
    <div class="text-center mt-6">
      <h3 class="text-gray-800 dark:text-gray-200">Free and open <span class="text-orange-600">product database</span></h3>
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 md:text-5xl">
        Brocade.io
      </h1>
    </div>
    <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
      <div>
        <%= form_tag(products_path, method: :get) do %>
          <label for="query" class="block text-sm font-medium text-gray-700 dark:text-gray-100 text-left">Search...</label>
          <div class="mt-1">
            <%= 
              text_field_tag(
                :query, 
                nil, 
                class: 'block w-full text-2xl text-gray-700 dark:text-gray-100 bg-gray-100 dark:bg-gray-700 placeholder-gray-700 dark:placeholder-gray-300 rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500', 
                placeholder: 'by barcode or text'
              ) 
            %>
          </div>
          <p class="block mt-1 text-sm font-small text-gray-700 dark:text-gray-100 text-right">
            ... from <%= humanize_product_count(Product.count) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</main>
